@using AuthApp.Client.Models
@page "/"
<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView Context="authorized">
    <Authorized>
        <AuthorizeView Policy="@Policies.RequireDisplayName" Context="RequireDisplayName">
            <NotAuthorized>
                <WarningTile>
                    Set your <a href="identity/account/manage">display name!</a>
                </WarningTile>
            </NotAuthorized>
        </AuthorizeView>
        <AuthorizeView Policy="@Policies.RequireDoB" Context="RequireDoB">
            <NotAuthorized>
                <WarningTile>
                    Set your <a href="identity/account/manage">date of birth!</a>
                </WarningTile>
            </NotAuthorized>
        </AuthorizeView>
    </Authorized>
    <NotAuthorized>
        <SeededUsers />
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Policy="@Policies.Adult" Context="adult">
    <Authorized>
        <span class="badge badge-primary">You are over 18</span>
    </Authorized>
    <NotAuthorized>
        <AuthorizeView Policy="@Policies.RequireDoB" Context="RequireDoB">
            <span class="badge badge-info">You are under 18</span>
        </AuthorizeView>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Policy="@Policies.VerifiedDoB">
    <span class="badge badge-success">Age Verified</span>
</AuthorizeView>

<AuthorizeView Policy="@Policies.VerifiedAdult">
    <span class="badge badge-dark">Adult Access</span>
</AuthorizeView>

<div class="mt-5 d-flex flex-row justify-content-end">
    <StackProfileLink Theme="@StackProfileTheme.Dark" />
</div>